.turbo
.env
npm-debug.log*

/node_modules/
*/*/node_modules
*/*/dist
*/*/build
*/*/.react-router
*/*/.turbo

*/*/.tsbuildinfo

/dist/
apps/web/dist/.react-router
build/

/.react-router/
/build/
.vscode/

logs/
*.log